body {
    background-color: rgb(15, 15, 15);
    font-family: "Arial Black", sans-serif;
    color: rgb(240, 240, 240);
    margin: 0;
}

header {
    font-size: 2em;
    margin: 0 0;
    width: 100%;
    padding: 0.5em;
}

nav a {
    color: white;
    display: inline-block;
    padding: 0;
}

#content-container {
    margin: 0em 1em;
    /* height: 0px; */
    overflow-y: hidden;
    visibility: hidden;
}

.icon {
    fill: white;
    pointer-events: none;
    width: 20px;
}

.blinking-cursor {
    font-size: 1em;
    animation: 1s blink step-end infinite;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
}

@keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: rgb(240, 240, 240);
    }
}

@-moz-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: rgb(240, 240, 240);
    }
}

@-webkit-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: rgb(240, 240, 240);
    }
}
