:root {
	--skyblue: #87baf5;
	--skybluedark: #6a9dfa;
	--lightcol: #dcdcdc;
	--medcol: #828282;
	--darkcol: #465a5a;
}

html {
	height: 100%;
}

body {
	background: linear-gradient(var(--skybluedark) 65%, var(--skyblue));
	font-family: 'Munro', monospace;
	margin: 0;
}

a {
	color: var(--darkcol);
}

a:hover {
	color: var(--lightcol);
}

nav > a {
	margin: auto 1em;
}

hr {
	width: 500px;
	max-width: 90%;	
	border: 0;
	height: 1px;
	/*background: linear-gradient(to right, var(--medcol), var(--darkcol), var(--medcol));*/
	background-color: var(--darkcol);
}

#mtncanvas {
	position: absolute;
	bottom: 0;
	pointer-events: none;
}

#content-container {
	color: var(--darkcol);
	text-align: center;
	height: 100%;
	margin-top: 20vh;
}

.redtext {
	color: #CC0000;
}

@font-face {
	font-family: 'Munro';
	src: url('./fonts/Munro.ttf') format('truetype');
}

