:root {
	--skyblue: #87c5f8;
	--lightcol: rgb(220, 220, 220);
	--darkcol: rgb(90, 100, 110);
}

body {
	/*background-color: var(--lightcol);*/
	background-color: var(--skyblue);
	font-family: 'Munro', monospace;
	margin: 0;
	/*width: 100vw;*/
	/*height: 100%;*/
}

hr {
	width: 500px;
	max-width: 90%;	
}

#mtncanvas {
	position: absolute;
	bottom: 0;
}

#content-container {
	color: var(--darkcol);
	text-align: center;
	height: 100%;
	margin: 50px;
	/*background-color: var(--darkcol);*/
}

#content-container * {
}

.redtext {
	color: #CC0000;
}

@font-face {
	font-family: 'Munro';
	src: url('./fonts/Munro.ttf') format('truetype');
}
