body {
    background-color: #3af;
}

.main-text {
    color: #f0ffd0;
    font-family: kaffeesatz, sans-serif;
    font-size: 5em;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

/* fonts */
@font-face {
    font-family: kaffeesatz;
    src: url(../fonts/YanoneKaffeesatz-Regular.ttf);
}